* {
  font-family: Roboto Condensed Regular;
}

.scroll-div {
  height: 52vh;
  background-color: transparent;
  overflow-x: scroll; //permite o scroll horizontal
  overflow-y: hidden; //bloqueia o scroll vertical
  white-space: nowrap;
}

.scroll-div::-webkit-scrollbar { //remove a scroll bar
  display: none;
}

.card {
  display: inline-block;
  height: 100%;
  padding: 1vh;
  background-color: inherit;

  ion-card {
    margin: 0;
    padding: 1vh;
    height: inherit;
    width: 60vw;
    height: 50vh;
    padding: 2vh;
    --background: var(--ion-color-secondary); //creme
    color: black;
    font-size: 1em;
  }

  ion-label {
    font-family: Roboto Condensed Bold;
    font-size: 1.4em;
  }
}
