* {
  font-family: Roboto Condensed Regular;
}

/* Page */
ion-content::-webkit-scrollbar { //remove a scroll bar
  display: none;
}

ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.buttons, .categories {
  margin-left: 1vh;
}

.buttons {
  margin-right: 1vh;
}

.buttons ion-row {
  height: 10vh;
}

.buttons ion-button {
  height: 100%;
  width: 100%;
  color: var(--ion-color-secondary);
  --background: transparent;
  border: 0.5px solid var(--ion-color-secondary);
  box-sizing: border-box;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1.1em;
}

ion-title {
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-size: 1.6em;
}


/* Cards */
.scroll-div {
  height: 52vh;
  background-color: transparent;
  overflow-x: scroll; //permite o scroll horizontal
  overflow-y: hidden; //bloqueia o scroll vertical
  white-space: nowrap;
}

.scroll-div::-webkit-scrollbar { //remove a scrollbar do scroll horizontal
  display: none;
}

.card {
  display: inline-block;
  height: 100%;
  padding: 1vh;
  background-color: inherit;

  ion-card {
    margin: 0;
    padding: 1vh;
    height: inherit;
    width: 60vw;
    height: 50vh;
    padding: 2vh;
    --background: var(--ion-color-secondary); //creme
    color: black;
    font-size: 1em;
  }

  ion-label {
    font-family: Roboto Condensed Bold;
    font-size: 1.4em;
  }
}
