<!DOCTYPE html>
<html>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="buttons">
    <ion-title>Categorias</ion-title>
    <ion-grid>
      <ion-row>
        <ion-col><ion-button>RECOMENDADOS</ion-button></ion-col>
        <ion-col><ion-button>CASAS</ion-button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-button>APARTAMENTOS</ion-button></ion-col>
        <ion-col><ion-button>QUARTOS</ion-button></ion-col>
      </ion-row>
    </ion-grid>
  </div>

    <div class="categories">
      <div>
        <ion-title>Recomendados</ion-title>
        <div class="scroll-div">
          <div class="card" *ngFor="let republic of republicsArray">
            <ion-card (click) = redirectRepublic(republic)>
                <ion-label> {{ republic.title }} </ion-label>
                <ion-slides class="slides" pager="true">
                  <ion-slide><img src="{{republic.image_1}}" alt="imagem de uma república"></ion-slide>
                  <ion-slide><img src="{{republic.image_2}}" alt="imagem de uma república"></ion-slide>
                  <ion-slide><img src="{{republic.image_3}}" alt="imagem de uma república"></ion-slide>
                </ion-slides>
                
                <ion-grid>
                  <ion-row>{{ republic.title }}</ion-row>
                  <ion-row>{{ republic.address }}</ion-row>
                  <ion-row>
                    <ion-col><ion-icon name="calculator"></ion-icon> {{ republic.footage }} m²</ion-col>
                    <ion-col><ion-icon name="bed"></ion-icon> {{ republic.number_bed }} quartos</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col><ion-icon name="alarm"></ion-icon> {{ republic.number_bed }} banheiros</ion-col>
                    <!--<ion-col><i class="fa fa-bath" aria-hidden="true"></i> {{ republic.number_bed }} banheiros</ion-col>-->
                    <ion-col><ion-icon name="paw"></ion-icon> {{ republic.animals }}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col><ion-icon name="car"></ion-icon> {{ republic.parking }}</ion-col>
                    <ion-col><ion-icon name="cash-outline"></ion-icon> R$ {{ republic.rental_per_month }}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col>
                      <ion-button type="rent" (click)="toRent()">
                        <ion-icon name="document-text-outline" *ngIf="!rent"></ion-icon>
                        <ion-icon name="document-text" *ngIf="rent"></ion-icon>
                      </ion-button>
                    </ion-col>
                    
                    <ion-col>
                      <ion-button type="fav" (click)="toFav()">
                        <ion-icon name="heart-outline" *ngIf="!fav"></ion-icon>
                        <ion-icon name="heart" *ngIf="fav"></ion-icon>
                      </ion-button>
                    </ion-col>
                    
                    <ion-col>
                      <ion-button type="rate" (click)="toRate()">
                        <ion-icon name="star-outline" *ngIf="!rate"></ion-icon>
                        <ion-icon name="star" *ngIf="rate"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card>
          </div>
        </div>
      </div>
      
      <div>
        <ion-title>Casas</ion-title>
        <div class="scroll-div">
          <div class="card" *ngFor="let republic of republicsArray">
            <ion-card (click) = redirectRepublic(republic)>
                <ion-label> {{ republic.title }} </ion-label>
                <ion-slides class="slides" pager="true">
                  <ion-slide><img src="{{republic.image_1}}" alt="imagem de uma república"></ion-slide>
                  <ion-slide><img src="{{republic.image_2}}" alt="imagem de uma república"></ion-slide>
                  <ion-slide><img src="{{republic.image_3}}" alt="imagem de uma república"></ion-slide>
                </ion-slides>
                
                <ion-grid>
                  <ion-row>{{ republic.title }}</ion-row>
                  <ion-row>{{ republic.address }}</ion-row>
                  <ion-row>
                    <ion-col><ion-icon name="calculator"></ion-icon> {{ republic.footage }} m²</ion-col>
                    <ion-col><ion-icon name="bed"></ion-icon> {{ republic.number_bed }} quartos</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col><ion-icon name="alarm"></ion-icon> {{ republic.number_bed }} banheiros</ion-col>
                    <!--<ion-col><i class="fa fa-bath" aria-hidden="true"></i> {{ republic.number_bed }} banheiros</ion-col>-->
                    <ion-col><ion-icon name="paw"></ion-icon> {{ republic.animals }}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col><ion-icon name="car"></ion-icon> {{ republic.parking }}</ion-col>
                    <ion-col><ion-icon name="cash-outline"></ion-icon> R$ {{ republic.rental_per_month }}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col>
                      <ion-button type="rent" (click)="toRent()">
                        <ion-icon name="document-text-outline" *ngIf="!rent"></ion-icon>
                        <ion-icon name="document-text" *ngIf="rent"></ion-icon>
                      </ion-button>
                    </ion-col>
                    
                    <ion-col>
                      <ion-button type="fav" (click)="toFav()">
                        <ion-icon name="heart-outline" *ngIf="!fav"></ion-icon>
                        <ion-icon name="heart" *ngIf="fav"></ion-icon>
                      </ion-button>
                    </ion-col>
                    
                    <ion-col>
                      <ion-button type="rate" (click)="toRate()">
                        <ion-icon name="star-outline" *ngIf="!rate"></ion-icon>
                        <ion-icon name="star" *ngIf="rate"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card>
          </div>
        </div>
      </div>
      
      <div>
        <ion-title>Apartamentos</ion-title>
        <div class="scroll-div">
          <div class="card" *ngFor="let republic of republicsArray">
            <ion-card (click) = redirectRepublic(republic)>
                <ion-label> {{ republic.title }} </ion-label>
                <ion-slides class="slides" pager="true">
                  <ion-slide><img src="{{republic.image_1}}" alt="imagem de uma república"></ion-slide>
                  <ion-slide><img src="{{republic.image_2}}" alt="imagem de uma república"></ion-slide>
                  <ion-slide><img src="{{republic.image_3}}" alt="imagem de uma república"></ion-slide>
                </ion-slides>
                
                <ion-grid>
                  <ion-row>{{ republic.title }}</ion-row>
                  <ion-row>{{ republic.address }}</ion-row>
                  <ion-row>
                    <ion-col><ion-icon name="calculator"></ion-icon> {{ republic.footage }} m²</ion-col>
                    <ion-col><ion-icon name="bed"></ion-icon> {{ republic.number_bed }} quartos</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col><ion-icon name="alarm"></ion-icon> {{ republic.number_bed }} banheiros</ion-col>
                    <!--<ion-col><i class="fa fa-bath" aria-hidden="true"></i> {{ republic.number_bed }} banheiros</ion-col>-->
                    <ion-col><ion-icon name="paw"></ion-icon> {{ republic.animals }}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col><ion-icon name="car"></ion-icon> {{ republic.parking }}</ion-col>
                    <ion-col><ion-icon name="cash-outline"></ion-icon> R$ {{ republic.rental_per_month }}</ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col>
                      <ion-button type="rent" (click)="toRent()">
                        <ion-icon name="document-text-outline" *ngIf="!rent"></ion-icon>
                        <ion-icon name="document-text" *ngIf="rent"></ion-icon>
                      </ion-button>
                    </ion-col>
                    
                    <ion-col>
                      <ion-button type="fav" (click)="toFav()">
                        <ion-icon name="heart-outline" *ngIf="!fav"></ion-icon>
                        <ion-icon name="heart" *ngIf="fav"></ion-icon>
                      </ion-button>
                    </ion-col>
                    
                    <ion-col>
                      <ion-button type="rate" (click)="toRate()">
                        <ion-icon name="star-outline" *ngIf="!rate"></ion-icon>
                        <ion-icon name="star" *ngIf="rate"></ion-icon>
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
            </ion-card>
          </div>
        </div>
      </div>
    </div>
    
    <div>
      <ion-title>Quartos</ion-title>
      <div class="scroll-div">
        <div class="card" *ngFor="let republic of republicsArray">
          <ion-card (click) = redirectRepublic(republic)>
              <ion-label> {{ republic.title }} </ion-label>
              <ion-slides class="slides" pager="true">
                <ion-slide><img src="{{republic.image_1}}" alt="imagem de uma república"></ion-slide>
                <ion-slide><img src="{{republic.image_2}}" alt="imagem de uma república"></ion-slide>
                <ion-slide><img src="{{republic.image_3}}" alt="imagem de uma república"></ion-slide>
              </ion-slides>
              
              <ion-grid>
                <ion-row>{{ republic.title }}</ion-row>
                <ion-row>{{ republic.address }}</ion-row>
                <ion-row>
                  <ion-col><ion-icon name="calculator"></ion-icon> {{ republic.footage }} m²</ion-col>
                  <ion-col><ion-icon name="bed"></ion-icon> {{ republic.number_bed }} quartos</ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col><ion-icon name="alarm"></ion-icon> {{ republic.number_bed }} banheiros</ion-col>
                  <!--<ion-col><i class="fa fa-bath" aria-hidden="true"></i> {{ republic.number_bed }} banheiros</ion-col>-->
                  <ion-col><ion-icon name="paw"></ion-icon> {{ republic.animals }}</ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col><ion-icon name="car"></ion-icon> {{ republic.parking }}</ion-col>
                  <ion-col><ion-icon name="cash-outline"></ion-icon> R$ {{ republic.rental_per_month }}</ion-col>
                </ion-row>
                
                <ion-row>
                  <ion-col>
                    <ion-button type="rent" (click)="toRent()">
                      <ion-icon name="document-text-outline" *ngIf="!rent"></ion-icon>
                      <ion-icon name="document-text" *ngIf="rent"></ion-icon>
                    </ion-button>
                  </ion-col>
                  
                  <ion-col>
                    <ion-button type="fav" (click)="toFav()">
                      <ion-icon name="heart-outline" *ngIf="!fav"></ion-icon>
                      <ion-icon name="heart" *ngIf="fav"></ion-icon>
                    </ion-button>
                  </ion-col>
                  
                  <ion-col>
                    <ion-button type="rate" (click)="toRate()">
                      <ion-icon name="star-outline" *ngIf="!rate"></ion-icon>
                      <ion-icon name="star" *ngIf="rate"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-card>
        </div>
      </div>
    </div>
</ion-content>