<ion-header>
  <ion-toolbar>
    <ion-title>home2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true"[options]="slideOpts">
    <ion-slide *ngFor="let republic of republicsArray">
      <ion-card>
        <ion-card-header>
          <ion-card-title><h5>{{republic.title}}</h5></ion-card-title>
          <ion-card-subtitle>{{republic.address}}</ion-card-subtitle>
          <ion-text><h6>{{republic.parking}}</h6></ion-text>
          <ion-text><h6>{{republic.animals}}</h6></ion-text>
          <ion-text><h6>{{republic.rental_per_month}}</h6></ion-text>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
