<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="register(register_form)" [formGroup]="register_form">
    <ion-textarea formControlName="name" type="text" placeholder="Nome"></ion-textarea>
    <ion-textarea formControlName="email" type="email" placeholder="E-mail"></ion-textarea>
    <ion-textarea formControlName="password" type="password" placeholder="Senha"></ion-textarea>
    <ion-button [disabled]="!register_form.valid" type='submit'>Registrar</ion-button>
  </form>
</ion-content>
