.comment {
  background: var(--ion-color-secondary);
  color: var(--ion-background-color);
}

.text {
  background: var(--ion-color-secondary);
  color: var(--ion-background-color);
  width: 100vw;
  height: 6vh;
  padding: 3%;
  border-radius: 20px;
}

.submit_buttons {
  display: flex;
  justify-content: center;
}
