.container {
  width: 50vw;
  height: 40vh;
  padding: 2vh;
  color: var(--ion-color-secondary); //creme
  font-family: Roboto Condensed Regular;
  font-size: 1em;
}

.slides {
  height: 15vh;
  background-color: var(--ion-color-secondary);
}

ion-slide img {
  height: auto;
  width: 100vw;
}
