<ion-card class="container" *ngFor="let Republica of arrayApartamentos">
  <ion-label class="bold">{{ Republica.name }}</ion-label>
  <ion-slides class="slides" pager="true">
    <ion-slide><img src="../../assets/republics/{{Republica.image_1}}"></ion-slide>
    <ion-slide><img src="../../assets/republics/{{Republica.image_2}}"></ion-slide>
    <ion-slide><img src="../../assets/republics/{{Republica.image_3}}"></ion-slide>
  </ion-slides>
  
  <ion-grid>
    <ion-row>{{ Republica.category }}</ion-row>
    <ion-row>{{ Republica.street }}</ion-row>
    <ion-row>{{ Republica.neighborhood }}, {{ Republica.city }}</ion-row>
    <ion-row class="description">
      <ion-col><ion-icon name="calculator"></ion-icon> {{ Republica.footage }} m²</ion-col>
      <ion-col><ion-icon name="bed"></ion-icon> {{ Republica.number_bed }} quartos</ion-col>
    </ion-row>
    
    <ion-row class="description">
      <ion-col><i class="fa fa-bath" aria-hidden="true"></i> {{ Republica.number_bed }} banheiros</ion-col>
      <ion-col><ion-icon name="paw"></ion-icon> {{ Republica.animals }}</ion-col>
    </ion-row>
    
    <ion-row class="description">
      <ion-col><ion-icon name="car"></ion-icon> {{ Republica.parking }}</ion-col>
      <ion-col><ion-icon name="cash-outline"></ion-icon> R$ {{ Republica.rental_per_month }}</ion-col>
    </ion-row>
    
    <ion-row class="rent_button">
      <ion-button><ion-icon name="document-text-outline"></ion-icon></ion-button>
    </ion-row>
  </ion-grid>  
</ion-card>