.container {
  width: 50vw;
  height: 40vh;
  padding: 2vh;
  color: var(--ion-color-secondary); //creme
  font-family: Roboto Condensed Regular;
  font-size: 1em;
}

.slides {
  background-color: var(--ion-color-secondary);
}

ion-slide img {
  height: auto;
  width: 100vw;
}

.rent_button ion-button {
  position: absolute;
  top: 21vh;
  right: 2vh;
  --background: transparent;
  color: var(--ion-color-primary);
  font-family: Roboto Condensed Bold;
}

.bold {
  font-family: Roboto Condensed Bold;
  font-size: 1.2em;
}

.description {
  font-size: 0.85em;
}
